[bumpversion]
current_version = 1.3.0
parse = v?(?P<major>\d+)\.(?P<minor>\d+)\.(?P<revision>\d+)
serialize = {major}.{minor}.{revision}

[bumpversion:file:functions/__antidote]

[bumpversion:file:tests/test_version.zsh]

[bumpversion:file:docs/README.md]
