~*
.*/
.cache/
.plugins/
.tmp/
.todo/
*.old
*.zwc
*.zwc.old
**/realzdotdir/zsh_plugins.zsh
bar.zsh
foo*.*
sandbox/
tests/fixtures/*/
tests/fixtures/*
tests/fixtures/*.*
!tests/fixtures/.gitkeep
!tests/**/foo/
!tests/**/.*/
!tests/**/.*
!footer.*
