~*
.*/
!.github/
.cache/
.plugins/
.tmp/
.todo/
*.old
*.zwc
*.zwc.old
**/realzdotdir/zsh_plugins.zsh
bar.zsh
foo*.*
sandbox/
!tests/**/foo/
!tests/**/.*/
!tests/**/.*
tests/fixtures/*
!tests/fixtures/.gitkeep
!footer.*
